commands:
    add_tomcat_to_ec2-user_primary_group:
        command: usermod -g ec2-user tomcat
    add_tomcat_also_to_tomcat_secondary_group:
        command: usermod -a -G tomcat tomcat
    change_group_permission_to_read_write_exec:
        command: umask 002
    add_tomcat_umask_to_tomcat-elasticbeanstalk-script:
        command: sed -i -e '1 a logger umasking 002 for tomcat in tomcat-elasticbeanstalk script' -e '1 a umask 002' /usr/sbin/tomcat-elasticbeanstalk
    add_tomcat_umast_to_etcprofiles:
        command: echo 'if [ `id -un` = "tomcat" ]; then logger umasking 002 for tomcat in etcprofile;umask 002; fi;' >> /etc/profile
