packages: 
  yum:
    dos2unix: []

container_commands:
  00_stop: 
    command: /sbin/service logstash-forwarder stop
    ignoreErrors: true
  01_create_run_dir: 
    command: mkdir -p /opt/logstash-forwarder/
  02_copy_files: 
    command: cp .ebextensions/logstash-forwarder/* /opt/logstash-forwarder/
  03_grant_perm_bin: 
    command: chmod 755 /opt/logstash-forwarder/logstash-forwarder_0.4.0.bin
  04_copy_service:
    command: cp .ebextensions/logstash-forwarder/logstash-forwarder_service /etc/init.d/logstash-forwarder
  05_grant_perm_service: 
    command: chmod 755 /etc/init.d/logstash-forwarder
  06_dos2unix_service: 
    command: /usr/bin/dos2unix /etc/init.d/logstash-forwarder
  07_register_service:
    command: /sbin/chkconfig --add logstash-forwarder
  08_chmod_runscript:
    command: chmod 755 /opt/logstash-forwarder/RUN_LOG_FORWARDER.sh
  09_dos2unix_script:
     command: /usr/bin/dos2unix /opt/logstash-forwarder/RUN_LOG_FORWARDER.sh
  10_run_service:
    command: /opt/logstash-forwarder/RUN_LOG_FORWARDER.sh

