packages: 
  yum:
    dos2unix: []

container_commands:  
  01_copy_files: 
    command: cp .ebextensions/logrotate_applogs.conf /etc/logrotate.elasticbeanstalk.hourly/
  02_grant_perm_bin: 
    command: chmod 755 /etc/logrotate.elasticbeanstalk.hourly/logrotate_applogs.conf
  03_chown_perm_bin: 
    command: chown root:root /etc/logrotate.elasticbeanstalk.hourly/logrotate_applogs.conf
  04_copy_c_files: 
    command: cp .ebextensions/cron.logrotate.elasticbeanstalk.applogs.conf /etc/cron.hourly/
  05_grant_perm_c_bin: 
    command: chmod 755 /etc/cron.hourly/cron.logrotate.elasticbeanstalk.applogs.conf
  06_chown_perm_c_bin: 
    command: chown root:root /etc/cron.hourly/cron.logrotate.elasticbeanstalk.applogs.conf