<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%t] [%-5p] %logger{35} - %m [%C:%line]%n</pattern>
        </encoder>
    </appender>
    <appender name="Standard"
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${catalina.home}/logs/apps/backend-reports-api.log</File>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/apps/backend-reports-api.log.%d{yyyy-MM-dd}.gz</FileNamePattern>
            <MaxHistory>10</MaxHistory> <!-- keeps the last 7 days logfiles -->
        </rollingPolicy>        
        <encoder>
            <pattern>%d{ISO8601} [%t] [%-5p] %logger{35} - %m [%C:%line]%n</pattern>
        </encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="Standard" />
	</root>

	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Standard" />
	</logger>
	<logger name="com.mchange" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Standard" />
	</logger>
	<logger name="com.sonydadc" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Standard" />
	</logger>
	<logger name="dpps" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Standard" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="Standard" />
	</logger>
	<logger name="org.apache.http" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="Standard" />
	</logger>	

</configuration>